.footer{
    background: #ffffff;
}
.footer-top {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}
.footer-top-parag {
    padding: 1rem;
    font-size: 12px;
}
.footer-bottom{
    background: #000;
    color: #616161;
}
.copyright{
    padding: 0.5rem;
}
.footer-bottom-icons {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}
.footer-bottom-icons a{
    color: #616161;transition: 0.3s;
}
.footer-bottom-icons a:hover{
    color: #3cb878;
}
.footer-top-icons{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    border-left: 1px solid lightgray;
}
.footer-top-icons a{
    color: #000;
    transition: 0.3s;
}
.footer-top-icons a:hover{
    color: #999999;
}
.footer-middle{
    padding: 1rem;
}
.footer-middle h3{
    font-size: 1.2rem;
    margin: 0;
    text-transform: uppercase;
    padding: 1rem 0;
}
.footer-middle p{
    font-size: 12px;
    margin: 0;
    color: #4e4e4e;
    padding: 0.5rem 0;
}

@media screen and (max-width: 768px){
    .footer-top-icons{
        border-left: none;
    }
}