.footer{
    background: #ffffff;
}
.footer-top {
    border-bottom: 1px solid lightgray;
}
.footer-bottom{
    background: #000;
    color: #fff;
}
.copyright{
    padding: 0.5rem;
}
.footer-bottom-icons {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}
.footer-bottom-icons a{
    color: #fff;transition: 0.3s;
}
.footer-bottom-icons a:hover{
    color: #3cb878;
}