@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  scroll-behavior: smooth;
  //overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.breadcrumb{
  background: none;
  margin-top: 1rem;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
